fastapi
uvicorn
alembic
sqlalchemy
python-dotenv
psycopg2-binary

openai
tiktoken

langgraph
langchain
langchain-core
langchain-apify
langchain-openai
langchain-anthropic
langchain-community

langchain_google_community[gmail]

rizaio
wikipedia
tavily-python