fastapi
uvicorn
alembic
sqlalchemy
python-dotenv
psycopg2-binary

openai
tiktoken

langgraph
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-community

langchain-apify

wikipedia